* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    background-image: url('galaxy.png');
}

form {
    display: grid;
    grid-template-areas:
    "header header"
    "left right"
    "button button";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.groups {
  margin-bottom: 15px; 
}

.container1 {
    grid-area: left;
    background: #c6c4c4;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
}

.container2 {
    grid-area: right;
    background: #c6c4c4;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
}

input:invalid {
    border-color: red;
    border-width: 2px;

}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
h1 {
    text-align: center;
    grid-area: header;
    margin-top: 40px;
    margin-bottom: 40px;
    color: aqua;
}

.done {
    margin-top: 10%;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: 3em;
}

.done p {
    color: aliceblue;
    font-size: 0.5em;
}
form label {
    display: block;
    margin: 10px 0 5px;
    color: #222;
    font-size: 14px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    grid-area: button;
    width: 80%;
    padding: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #555;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: aqua;
    color: #222;
}

.class2 {
    display: flex;
    gap: 10px;
}

.class2 input {
    flex: 1;
}

.optioninputs {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.optioninputs label {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

input[type="radio"] {
  margin: 0;
  accent-color: #007bff;
}


.comment {
    font-size: 0.9em;
    margin-top: 0px;
    color: #555;
}

@media screen and (max-width: 600px) {
  form {
    grid-template-areas:
      "header"
      "left"
      "right"
      "button";
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .container1, .container2 {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 1.2em;
    margin-top: 10xp;
    margin-bottom: 6xp;
  }

  h2 {
    font-size: 1.2em;
  }

  label {
    font-size: 0.9em;
  }

  input, select, textarea {
    padding: 8px;
    font-size: 0.9em;
  }

  button {
    width: 90%;
    padding: 10px;
    font-size: 1em;
    margin-top: 15px;
  }

  .done {
    font-size: 1.2em;
  }

  .done p {
    font-size: 0.8em;
  }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
  form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "left"
      "right"
      "button";
    gap: 20px;
  }

  .container1, .container2 {
    max-width: 80%;
  }
}